In [13]:
import pandas as pd

In [33]:
qbVendor = pd.read_csv('C:\\Users\\robjac\\Documents\\Jupyter\\Data\\QB_Vendor.csv')
qbVendor.columns

Index(['Unnamed: 0', 'Active Status', 'Vendor', 'Balance', 'Balance Total',
       'Company', 'Mr./Ms./...', 'First Name', 'M.I.', 'Last Name',
       'Bill from 1', 'Bill from 2', 'Bill from 3', 'Bill from 4',
       'Bill from 5', 'Ship from 1', 'Ship from 2', 'Ship from 3',
       'Ship from 4', 'Ship from 5', 'Primary Contact', 'Job Title',
       'Main Phone', 'Fax', 'Alt. Phone', 'Secondary Contact'],
      dtype='object')

In [34]:
qbVendor = qbVendor.drop(['Unnamed: 0', 'Active Status', 'Balance',
       'Company', 'Mr./Ms./...', 'M.I.',
       'Bill from 1', 'Bill from 2', 'Bill from 3', 'Bill from 4',
       'Bill from 5', 'Ship from 1', 'Ship from 2', 'Ship from 3',
       'Ship from 4', 'Ship from 5', 'Primary Contact', 'Fax', 'Alt. Phone', 'Secondary Contact'], axis=1)

In [35]:
len(qbVendor)

514

In [36]:
qbVendor.head()

,Vendor,Balance Total,First Name,Last Name,Job Title,Main Phone
0,North Central Door Co. Inc.,18932.53,NaN,NaN,NaN,218-751-6962
1,Sealeze - A Unit of Jason Inc.,13608.07,Doug,Baltz,NaN,800-446-7325
2,AVALARA,8159.14,NaN,NaN,NaN,877-780-4848
3,MISys SBM,5097.99,NaN,NaN,NaN,NaN
4,Stolhammer & Son's,3292.40,Jordon,Stolhammer,NaN,218-333-8810