In [1]:
import pandas as pd
import openpyxl as pxl
import sqlalchemy
import pyodbc

In [2]:
#cnxn = pyodbc.connect('DRIVER={Devart ODBC Driver for QuickBooks};Company Id=mycompanyid;Access Token=myaccesstoken;Access Token Secret=myaccesstokensecret;Consumer Key=myconsumerkey;Consumer Key Secret=myconsumerkeysecret;String Types=Unicode')

### Read in CSVs

In [3]:

df = pd.read_csv('C:\\Users\\robjac\\Documents\\Jupyter\\Data\\MIQSUP.csv')

In [4]:
df['ordLstDt']= pd.to_datetime(df['ordLstDt'])

In [5]:
df = df.sort_values(by='ordLstDt')

In [6]:
filt = (df['ordLstDt'] >= '2020')
df = df.loc[filt]

In [8]:
df.head()

,itemId,suplId,suplProdCode,poUOfM,uConvFact,recCostFunc,ytdQty,recCostSrc,srcCur,lead,basePrice,ordLstDt,Unnamed: 12
795,36T024,MMTCINC,1KFS-X,NaN,1.0,75.550,0.0,75.550,USD,1,0.0,2020-01-03,NaN
11116,SPO134-273-30RH-C,NAPOLEONLYN,NaN,ea,1.0,12.730,0.0,12.730,USD,2,0.0,2020-01-06,NaN
11114,SPO134-273-30LH-C,NAPOLEONLYN,NaN,ea,1.0,12.730,0.0,12.730,USD,2,0.0,2020-01-06,NaN
6975,OSTC15,ATL,74715RACLP,NaN,1.0,0.454,0.0,0.454,USD,23,0.0,2020-01-07,NaN
7797,SLPBEO-AL-K,AIRLIFT,O16R1003,ea,1.0,51.910,0.0,51.910,USD,5,0.0,2020-01-07,NaN