In [108]:
import pandas as pd

### Import CSV

In [109]:
QBSale = pd.read_csv('C:\\Users\\robjac\\Documents\\Jupyter\\Data\\QB_Sale_by_Customer.csv')

### Remove Columns

In [110]:
QBSale = QBSale.drop(['Type','Date','Num','Memo'], axis=1)

### Replace NaN with Empty Space

In [111]:
QBSale = QBSale.fillna('')

### Find feild names with Total in them

In [112]:
QBSale = QBSale[QBSale['Unnamed: 0'].str.contains('Total')]

### Rename First Column to Customer

In [113]:
QBSale = QBSale.rename(columns={'Unnamed: 0': 'Customer'})

### Find Customers that owe more than $10,000

In [114]:
QBSale = QBSale[QBSale['Open Balance'] > 10000]

### Remove 'Total' String from first feild

In [116]:
QBSale['Customer'] = QBSale['Customer'].str.replace(r'Total ', '')

In [119]:
QBSale.head(30)

                           Customer     Amount Open Balance
21                 ACCURATE DOOR-ND   203382.0     203382.0
51             BLUE IGUANA CAR WASH    18886.0      18886.0
94      DNL GARAGE DOOR SYSTEMS INC   17158.53     17158.53
162                    HQI Door Co.    16267.4      16267.4
165                     HYDROLOGICS    25603.3      25603.3
180                 KOEHLER CARWASH   26211.72     26211.72
204  Michigan OHD & Loading Dock Co    10362.5      10362.5
209          MIDWEST GARAGE DOOR-IL   29482.17     29482.17
216                MIDWEST OHD - WI    13029.0      13029.0
232                         NGC OHD    14874.9      14874.9
243    NORTHERN MANAGEMENT SERVICES   51469.62     51469.62
250                 OHD OF FRANKLIN   20797.86     20797.86
256                 OHD OF WINNIPEG   11235.76     11235.76
305                       S & S OHD   25314.74     25314.74
308                    Sawhorse LLC   23029.82     23029.82
349             SUMMERS GARAGE DOOR   22418.83     22418.83
374                  TRI COUNTY OHD    42569.5      42569.5
451         WW GRAINGER, INC.- CORP  132642.41     93949.06